/* core styles*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: darkgray;
    transition: 0.3s ease-in-out;
}

a:hover {
    color: black;
}


/*header styles*/

/* div,
nav, {
    border: 1px solid red;
} */

header {
    display: flex;
    padding: 20px;
    justify-content: space-between;
    background-color: rgb(253, 228, 247);
}

.main-header-section {
    display: flex;
    flex-basis: 90%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Satisfy', cursive;
    color: rgba(68, 67, 67);
    font-size: 25px;
    border-radius: 10px;
    border: 3px dashed white;
    padding: 10px;
    margin: 10px 10px 5px 10px;
}

.nav-container {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

.nav-anchor-1 {}

.nav-anchor-2 {
    margin-left: 40px;

}

.search-basket-container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.basket {
    margin-left: 50px;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*Container styles */

.first-container {
    background-image: url(/macarons.jpg);
    background-size: cover;
    background-position: center;
    min-height: 400px;
    max-height: 350px;
}