/* core styles*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'El Messiri', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out, visibility 0s;
}

a:hover {
    color: darkgray;
}


/*header styles*/

/* div,
nav, {
    border: 1px solid red;
} */

header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    background-color: rgb(253, 228, 247, 0.9);
    position: fixed;
    width: 100%;
    z-index: 300;
}

.main-header-section {
    display: flex;
    flex-basis: 90%;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: 'Satisfy', cursive;
    color: rgba(68, 67, 67);
    font-size: 25px;
    border-radius: 10px;
    border: 3px dashed white;
    padding: 10px;
    margin: 10px 10px 5px 10px;
    text-shadow: 0.2px 0.8px;
    position: relative;
}

.logo:hover {
    animation-name: logoanimation;
    animation-duration: 2s;
    animation-iteration-count: 2;
}

@keyframes logoanimation {
    0% {
        left: 0px;
    }

    50% {
        left: 30px;
    }

    100% {
        left: 0px;
    }
}

.nav-container {
    display: flex;
    flex-basis: 35%;
    justify-content: space-around;
}

.nav-container a {
    font-size: 25px;
}

.nav-container button img {
    width: 30px;
    height: auto;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* basket button styles */

.basket-button-wrap {
    position: relative;
}

.basket-button-icon {
    position: absolute;
    transition: all 0.6s;
    top: -24px;
    right: 0;
    font-size: 25px;
    opacity: 0;
}


.basket-icon-is-active {
    opacity: 1;
}


/*hamburger wrapper and menu */

.hamburger-wrapper {
    position: relative;
    display: flex;
    flex-basis: 10%;
    justify-content: center;
    align-items: center;
}

/*this class is when there is no menu down */

.bar-1,
.bar-2,
.bar-3 {
    width: 37px;
    height: 4px;
    background-color: black;
    margin: 5px;
    transition: 0.8s ease-in-out;
}


/*this class is when there is a menu */

.hamburger-is-active>.bar-1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.hamburger-is-active>.bar-2 {
    opacity: 0;
}

.hamburger-is-active>.bar-3 {
    transform: rotate(45deg) translate(-6px, -8px);
}


.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: -10px;
    text-align: center;
    background-color: rgb(253, 228, 247, 0.7);
    padding: 20px;
    transition: 0.8s ease-in-out;
    visibility: hidden;
    opacity: 0;
    border-radius: 0 0 0 9px;
}

.hamburger-menu-is-active {
    position: absolute;
    top: 123px;
    visibility: visible;
    opacity: 1;

}

.hamburger-menu a {
    font-size: 25px;
}


/*Container styles */

.first-container {
    background-image: url(/macarons.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bread-cakes-links {
    display: flex;
    justify-content: space-around;
    flex-basis: 50%;
}

.bread-cakes-links a {
    font-size: 40px;
    color: white;
    border: 3px dashed transparent;
    padding: 10px;
}

.bread-cakes-links a:hover {
    border-color: white;
    border-radius: 10px;
    background-color: rgb(253, 228, 247, 0.3);
}

/*Gallery carousel */

.gallery-carousel {
    display: flex;
    position: relative;
    justify-content: space-around;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    border: 3px dashed rgb(255, 162, 233, 0.7);
}

.gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    flex-basis: 50%;
}

.gallery-item a {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.gallery-item img {
    max-width: 90%;
    margin: 5px;
    border-radius: 5px;
    transition: 1s ease-in-out;
}

.gallery-item img:hover {
    transform: scale(1.08, 1.08);
}


/* arrow icons */

.arrow-container {
    position: absolute;
    display: flex;
    height: 100%;
    justify-content: center;
}

.right-arrow {
    right: 8px;
    transition: 0.6s ease-in-out;
}

.right-arrow:hover {
    transform: scale(1.2, 1.2);
}

.left-arrow {
    left: 8px;
    transition: 0.6s ease-in-out;
}

.left-arrow:hover {
    transform: scale(1.2, 1.2);
}

.gallery-carousel button img {
    width: 28px;
    height: 28px;
}


/*image grid */

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    padding: 45px;
}

.column {
    justify-content: center;
    box-shadow: -3px 5.5px 10px 2px gray;
}


.column-1 {
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    align-items: center;
    border: 3px double rgba(68, 67, 67);
    margin: 10px;
}

.column-1 img {
    max-width: 80%;
    max-height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: 0.5s ease-in-out;
}

.column-1 img:hover {
    transform: scale(1.05, 1.05);
}

.column-2 {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    align-items: center;
    border: 3px double rgba(68, 67, 67);
    margin: 10px;
    justify-content: space-between;
}

.column-2 p {
    margin: 15px 25px 15px 25px;
}

.column-2 a {
    font-size: 30px;
    margin-top: 15px;
    margin-left: 25px;
    align-self: flex-start;
}


.large-image {
    background-image: url("/bread\ cut\ up.jpg");
    border-radius: 5px;
    flex-basis: 65%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 300px;
    /* margin: 60px; */
    /* max-width: 100%; */
    /* max-height: 100%; */
    /* padding: 5px; */
}


/* input form */


.input-form {
    margin: 40px;
    border-top: 1px solid black;
    padding: 10px 20px;
    position: relative;
}

.input-form h2 {
    margin-left: 10px;
    font-size: 28px;
}

.input-form input,
button {
    font-family: 'El Messiri', sans-serif;
    font-size: 18px;
}

.form-wrap {
    padding-top: 20px;
}

.formbox {
    width: 50%;
    padding: 10px;
    margin: 10px 10px 10px 0px;
    border: none;
    border-bottom: 1px solid darkgray;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

.formbox:focus {
    border: none;
    border-bottom: 1px solid black;
    width: 70%;
}

.submit-button {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    background-color: rgb(248, 217, 242);
    border-radius: 5px;
    display: block;
    transition: ease-in-out 0.5s;
}

.submit-button:hover {
    transform: scale(1.05, 1.05);
}

/*modal styles */

.form-submission-modal {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    transition: all 0.6s;
    opacity: 0;
}


.modal-enter {
    top: 50%;
    opacity: 1;

}

.modal-exit {
    top: 0;
    opacity: 0;

}

.modal-content {
    background-color: rgb(232, 232, 250);
    border: 2px solid rgb(230, 225, 229);
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
}

/* footer */

footer {
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
    background-color: rgb(253, 228, 247, 0.9);
}

.footer-styles {
    font-style: italic;
    font-family: 'Satisfy', cursive;
    text-shadow: 0.2px 0.8px;
    font-size: 28px;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 10px;

}

footer p {
    font-size: 15px;
    margin-top: 30px;
}